.item {
  width: 15%;
  text-align: center;

  .item__img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
  .item__name {
    padding-top: 10px;
  }
  .item__gender {
    padding-top: 5px;
  }
  .item__name-span {
    font-weight: 600;
  }
  .item__gender-span {
    font-weight: 600;

  }
}

