.registration {
  padding-top: 50px;
  // max-width: 400px;
  // margin: 0 auto;
  .registration__title {
    margin-bottom: 25px;
    text-align: center;

  }
  .registration__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .registration__birthdate {
      font-weight: 500;
      font-size: 18px;
    }
  }

  ::-webkit-calendar-picker-indicator {
    background-color:#FEFEFE;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;

  }
  .registration__select {

    .registration__label {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 18px;
    }
  }
  
  .registration__radio {


    .registration__radio-label {
      padding-left: 10px;
      cursor: pointer;
      user-select: none;
    }
  }

}
