@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*, *:before, *:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  padding: 10px 35px;
  background-color: #5D5B6A;
  color: #FEFEFE;
  border: none;
  border-radius: 5px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 16px;

  
}

.button:hover {
  background-color:#898891;
}

.h3 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.02em;

}
